@page "/character/edit/{id:int}"
@page "/character/delete/{id:int}"
@using Models.Dtos.Character
@using Models.Dtos.Weapon
@using Models.Dtos.Skill
@using Lab02.Characters.Models.Extensions;
@inject ICharacterService _characterService
@inject NavigationManager _navigationManager
@inject IWeaponService _weaponService
@inject ISkillService _skillService

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Персонажа</h3>

    <div class="col-md-10">
        <EditForm Model="Character" OnValidSubmit="UpdateCharacter">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label class="col-form-label">Ім'я</label>
                <InputText @bind-Value="Character.Name" class="form-control"></InputText>
                <ValidationMessage For="()=>Character.Name"></ValidationMessage>
            </div>
            <div class="form-group">
                <label class="col-form-label">Здоров'я</label>
                <InputNumber @bind-Value="Character.HealthPoints" class="form-control"></InputNumber>
                <ValidationMessage For="()=>Character.HealthPoints"></ValidationMessage>
            </div>
            <div class="form-group">
                <label class="col-form-label">Атака</label>
                <InputNumber @bind-Value="Character.Attack" class="form-control"></InputNumber>
                <ValidationMessage For="()=>Character.Attack"></ValidationMessage>
            </div>
            <div class="form-group">
                <label class="col-form-label">Захист</label>
                <InputNumber @bind-Value="Character.Defense" class="form-control"></InputNumber>
                <ValidationMessage For="()=>Character.Defense"></ValidationMessage>
            </div>
            <div class="form-group">
                <label class="col-form-label">Біографія</label>
                <InputText @bind-Value="Character.Biography" class="form-control"></InputText>
                <ValidationMessage For="()=>Character.Biography"></ValidationMessage>
            </div>
            <div class="form-group">
                <label class="col-form-label">Тип</label>
                <InputSelect @bind-Value="Character.WeaponId" class="form-control">
                    <option value="0">Виберіть зброю</option>
                    @foreach (var weapon in Weapons)
                    {
                        <option value="@weapon.Id">@weapon.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=>Character.WeaponId"></ValidationMessage>
            </div>
            <div class="form-group mt-2 mb-4">
                <label class="col-form-label">Навички</label>
                <CheckBoxList Data="@Skills" TextField="@((item)=>item.Name)" ValueField="@((item)=>item.Id)"
                    SelectedValues="Character.SkillIds" />
                <ValidationMessage For="()=>Character.SkillIds"></ValidationMessage>
            </div>
            <div class="form-group py-2">
                <button class=@SubmitButtonClass>@Title</button>
                <NavLink href="character" class="btn btn-secondary">До списку</NavLink>
            </div>
        </EditForm>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    private string Title { get; set; } = "Редагувати";
    private UpdateCharacterDto Character { get; set; } = new();
    private IEnumerable<WeaponDto> Weapons { get; set; } = new List<WeaponDto>();
    private IEnumerable<SkillDto> Skills { get; set; } = new List<SkillDto>();
    private bool IsDelete { get; set; } = false;
    private string SubmitButtonClass { get; set; } = "btn btn-primary";

    protected override async Task OnInitializedAsync()
    {
        IsDelete = _navigationManager.Uri.ToString().Contains("/delete/");
        if (IsDelete)
        {
            Title = "Видалити";
            SubmitButtonClass = "btn btn-danger";
        }
        Weapons = (await _weaponService.GetAllAsync()).ToList();
        Character = (await _characterService.GetAsync(Id)).ToUpdateCharacterDto();

        Skills = (await _skillService.GetAllAsync()).ToList();
    }

    private async Task UpdateCharacter()
    {
        if (IsDelete)
        {
            await _characterService.DeleteAsync(Id);
        }
        else
        {
            //await _characterService.UpdateAsync(new UpdateWeaponDto{Id = Character.Id, Name = Character.Name, WeaponTypeId =
            //Character.WeaponTypeId});
        }
        _navigationManager.NavigateTo("character");
    }
}